registry=https://rivernetm.jfrog.io/artifactory/api/npm/npm-private-local/
//rivernetm.jfrog.io/artifactory/api/npm/npm-private-local/:email=qa-automation@remidu.com
//rivernetm.jfrog.io/artifactory/api/npm/npm-private-local/:always-auth=true